<h3 style="margin-bottom:20px !important;">Find user</h3>

<form novalidate [formGroup]="findForm" class="form-inline">
  <div class="form-group mx-sm-3 mb-2" style="margin-left:0px !important;">
    <label for="findUserIdInput" class="sr-only">Enter User ID</label>
    <input 
      type="text"
      class="form-control"
      name="findUserIdInput"
      placeholder="Enter User ID"
      formControlName="findUserIdInput" 
      value="{{userId}}"
    />
  </div>
  <button (click)="getUser()" type="submit" class="btn btn-primary mb-2" style="width:71px;">
    Find
  </button>
</form>
<div *ngIf="userId > 0">
  <h3 style="margin-bottom:20px !important;margin-top:20px !important;">Create Bet</h3>
  <form novalidate [formGroup]="createForm" class="form-inline">
    <div class="form-group mx-sm-3 mb-2" style="margin-left:0px !important;">
      <div style="width:100%;">
        <label for="createBetAmountInput" class="sr-only">Enter Bet Amount</label>
        <input 
          type="text"
          class="form-control"
          name="createBetAmountInput"
          placeholder="Enter Bet Amount"
          formControlName="createBetAmountInput" 
          style="margin-right:15px;"
        />
        <button (click)="createBet()" type="submit" class="btn btn-primary mb-2" style="margin-top:5px;">
          Create
        </button>
      </div>
      <div style="width:100%;">
        <label for="createChanceInput" class="sr-only">Enter Chance</label>
        <input 
          type="text"
          class="form-control"
          name="createChanceInput"
          placeholder="Enter Chance"
          formControlName="createChanceInput"
        />
      </div>
    </div>
  </form>
</div>


<br />
<div *ngIf="loading">
  Loading...
</div>

<div>{{ error }}</div>

<div *ngIf="!loading">
  <hr />
  <p>
    <b>Name:</b><span> {{ user.name }}</span>
  </p>
  <p>
    <b>Balance:</b><span> {{ user.balance }}</span>
  </p>
  <div *ngIf="betsPerUser && betsPerUser.length > 0 ">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Bet Amount</th>
          <th scope="col">Chance</th>
          <th scope="col">Payout</th>
          <th scope="col">Win</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let betPerUser of betsPerUser">
          <td>{{ betPerUser.betAmount }}</td>
          <td>{{ betPerUser.chance }}</td>
          <td>{{ betPerUser.payout }}</td>
          <td>{{ betPerUser.win }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
